.footer {
    background-color: #ffffff; 
    padding: 12px;
    position: fixed; 
    bottom: 0;
    left: 0; 
    width: 100%; 
    right: -20px;
}

  .social-icons-container {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    margin-right: 50px;
  }
  
  .social-icons-container a {
    display: inline-block; 
    color: white;
    text-decoration: none;
    margin-left: 20px; 
    width: 36px; 
    height: 36px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .social-icons-container img {
    width: 100px; 
    height: 40px;
  }
